<!DOCTYPE html>
<html lang="en">
<head>
    <title>Food fairy</title>
    <meta charset="utf-8"/>
    <meta name="description" content="etc"/>
</head>
<body>
    <h1>Deployment successful</h1>
</body>
</html>